body { font-family: sans-serif }
q:before { content:"„"; }
q:after { content:"“"; }

.permalink {
    float: right;
    margin: 0 1em;
}
p.value_explanation {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 5px;
}
/* See http://clrs.cc/ */
span.year    { background: #ff851b } /* Orange */
span.week    { background: #ffdc00 } /* Yellow */
span.month   { background: #88ff88 }
span.weekday { background: #ff9999 }
span.time    { background: #88ccff }
span.rule_separator    { background: #3d9970 } /* Olive */
/* span.one_rule { text-decoration: underline } */
a.specification { color: black; text-decoration:none }
span.state   { background: #ffccff }
span.comment { background: #dddddd } /* Silver */

noscript { color: #AA4400 }
