table {}
// tr.separator td { height: 2px; background: none }
// tr.endweek td { border-bottom: 1px solid #BBBBCC; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px }
// tr.today td { border-top: 1px solid #BBBBCC; border-top-left-radius: 5px; border-top-right-radius: 5px }
tr.today td.day { text-decoration: underline }
td { background: #E0E0E0; padding: 0px 10px }
td.day { text-align: center }
td.workday { background: #CCFF99 }
td.weekend { background: #FFCC99 }
td.times { width: 400px; padding: 0px 1px }

div.timebar { height: 20px; display: inline-block }
div.open { background: #FFFFFF; margin: 0px -1px; border: 1px solid #AAAAAA; border-radius: 5px }
div.unknown { background: #94d7b3; margin: 0px -1px; border: 1px solid #AAAAAA; border-radius: 5px }
div.closed {}
p.open { color: #44AA00 }
p.unknown { color: #94d7b3 }
p.closed { color: #AA4400 }
